{% extends 'base/base.html' %}

{% block body %}
<div class="main row">

    <div class="col-sm-12 col-md-8">
        <h2>{{ question.question_text }}</h2>
        <br>
        <h5><i>Opciones</i></h5>
        <ul>
            {% for choice in question.choice_set.all %}
            <div class="text-right">
                <form method="delete" id="delete" data-id="{% url 'delete_choice' choice.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link btn-sm ">Eliminar opción</button>
                </form>
            </div>
            <li>
                {{ choice.choice_text }}
            </li>
            <div class="text-right">
                <form method="get" id="vote" data-id="{% url 'vote' choice.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-sm">
                        <span class="fa fa-thumbs-up"> Votar </span>
                    </button>
                    {{ choice.votes }} vote{{ choice.votes|pluralize }}
                </form>
            </div>
            <br>
            <br>
            {% endfor %}
        </ul>

    </div>



    <div class="col-sm-12 col-md-4 ">

        <div class="well well-sm">
            <form class="form-horizontal" method="post" id="add_choice" data-id="{% url 'add_choice' question.id %}">
                {% csrf_token %}
                <fieldset>
                    <div class="col-md-12">
                        <legend class="header">Añadir opción</legend>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="choice" name="choice" type="text" placeholder="Opción" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-primary ">Añadir</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>

</div>


{% endblock body %}